:root, [data-bs-theme=light] {
  --white-normal: #F9FAFC;

  --gray-normal: #F4F4F4;
  --gray-dark: #8A8A8A;
  
  --dark-normal: #2B2727;

  --blue-dark: #002B76;
  --blue-deep: #003DAE;
  --blue-normal: #004BD0;
  --blue-cyan: #0096E1;

  --neon-blue: #0057F2;
  --neon-green: #2FFF86;
  --neon-yellow: #FCE300;

  --red-normal: #E00D0D;

  // Change Color Bootstrap
  --bs-text-white: #F9FAFC;
  --bs-text-primary: #0057F2;
  --bs-text-secondary: #F4F4F4;
  --bs-text-light: #F9FAFC;
  --bs-text-success: #17C653;
  --bs-text-info: #7239EA;
  --bs-text-warning: #F6C000;
  --bs-text-danger: #E00D0D;
  --bs-text-dark: #2B2727;
  --bs-text-muted: #8A8A8A;

  --bs-primary-rgb: #0096E1;
  --bs-secondary-rgb: #F4F4F4;
  --bs-success-rgb: #17C653;
  --bs-info-rgb: #004BD0;
  --bs-warning-rgb: #F6C000;
  --bs-danger-rgb: #E00D0D;

  --bs-light: #F9FAFC;
  --bs-primary: #0057F2;
  --bs-secondary: #F4F4F4;
  --bs-success: #17C653;
  --bs-info: #7239EA;
  --bs-warning: #F6C000;
  --bs-danger: #E00D0D;
  --bs-dark: #2B2727;

}